<!--app-hello></app-hello-->
<!--app-binding></app-binding-->
<!--app-event></app-event-->
<!--app-two-way-binding></app-two-way-binding-->
<!--app-ng-if></app-ng-if-->
<!--app-ng-for></app-ng-for-->
<!--app-ng-switch></app-ng-switch-->
<!--app-ng-class></app-ng-class-->
<!--app-ng-style></app-ng-style-->
<!--app-template-variable></app-template-variable-->
<!--app-input [item]="currentItem" [mdesc]="desc"></app-input>
<app-output
	(answerRequest)="answer($event)"
>
</app-output>
<app-output (newItemEvent)="addItem($event)"></app-output-->